.buttons-links {
    border-style: solid;
    border-color: #023d18;
    background-color: #fff7f9;
    border-width: 2px;
    text-decoration: none;
    color: #09569e;
    padding: 4px;
    border-radius: 10px;
    display: block;
    width: 150px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Labrada', serif;

}

.list-nav {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    width: 500px;
}

.list-nav li {
    display: inline;
}

/*.nav-buttons{
    color: #ffffff;
    text-decoration: none;
    margin: 30px;
  }*/

.list-nav li a {
    color: #ffffff;
    text-decoration: none;
    margin: 30px;
    padding-right: 10px;
    padding-left: 10px;
}

.list-button{
    border-style: solid;
     border-color: #ffffff;
     background-color: #023d18;
     border-width: .5px;
     text-decoration: none;
     color: #ffffff;
     padding: 4px;
     border-radius: 20px;
     display: inline;
     width: 150px;
     text-align: center;
     margin-top: 20px;
     font-family: 'Labrada', serif;
 
 }
.top-banner {
    height: 150px;
    text-align: center;
    padding-top: .06px;
    background-color: #fff7f9;
    background-image: url("https://www.sciencealert.com/images/2022/11/VeganFoodsAssortment.jpg");
    background-size: cover;
    background-attachment: fixed;
  
}

.main-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}

html {
    scroll-behavior: smooth;
  }

body {
    background-color: #ffffff;
}

/*typography*/
nav {
    background-color: #072e02;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 10;

}

h1 {
    text-align: center;
    font-size: 80px;
    color:#000000;
    margin-bottom: 20px;
    font-family: 'Cabin', sans-serif;

}

h2 {
    font-size: 40px;
    color: #11241d;
    margin-bottom: 10px;
    font-family: 'Cabin', sans-serif;


}

p {
    line-height: 28px;
    font-size: 19px;
    color: #072e02;
    font-family: 'Labrada', serif;
}

footer {
    height: 70px;
    text-align: center;
    background-color: #fff7f9;
    padding: 10px 0px;
}

/*a {
    color: #40a4bd;
    text-decoration: none;
}*/